@font-face {
    font-family: 'lilly';
    src: url('../fonts/lilly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caroni';
    src: url('../fonts/caroni-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blokletters-regular';
    src: url('../fonts/blokletters-balpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blokletters-bold';
    src: url('../fonts/blokletters-viltstift.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blokletters-thin';
    src: url('../fonts/blokletters-potlood.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pepita-script';
    src: url('../fonts/pepita_script_3_w01_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
=============================================================================
------------------------------------------------------------------------GLOBAL
=============================================================================
*/
body {
    background-image: url("../img/starsky.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header, section#page {
    display: inline-block;
}

header {
    vertical-align: top;
    width: 20%;
}

section#page {
    width: 80%;
    margin-left: 20%;
}

#logo {
    width: 250px;
    height: 250px;
    position: fixed;
}

header nav {
    position: fixed;
    left: -30px;
    top: 260px;
}

p {
    text-align: justify;
}

.pencils {
    display: block;
    width: 250px;
    margin: -5px -5px -5px -40px;
    padding: 0;
}

.pencilLabels:hover {
    color: orangered;
    cursor: pointer;
}

.pencilLabels {
    font-family: 'blokletters-regular', sans-serif;
    position: relative;
    color: black;
    text-decoration: none;
    left: 40px;
    top: 27px;
    margin: 0;
    padding: 0;
}

.blokletter_title {
    font-family: 'blokletters-thin', sans-serif;
    text-align: right;
    color: white;
    font-size: 4em;
    font-weight: normal;
    margin: 5px;
    width: 80%;
}

.pepita_title {
    font-family: 'pepita-script', sans-serif;
    color: white;
    font-size: 6em;
    margin: 10px;
    text-align: center;
    font-weight: normal;
}


.handdrawn {
    font-family: 'caroni', sans-serif;
    font-size: 2.2em;
    background-image: url("../img/bookPageBackground.png");
    background-repeat: repeat-y;
    padding: 1% 2% 1% 10%;
}

.divider {
    text-align: center;
}

.divider img {
    width: 80%;
}


div#credits {
    width: 50%;
    margin: auto;
    text-align: center;
    border: 1px dashed white;
    color: white;
}

/*
=============================================================================
------------------------------------------------------------------------INTRODUCTION SECTION
=============================================================================
*/

section#introduction {
    margin: 50px 50px 20px;
    text-align: right;
}

section#introduction > * {
    display: inline-block;
    vertical-align: top;
}

section#introduction p {
    width: 65%;
    margin-right: 40px;
    margin-top: 0;
    text-align: justify;
}

#socialMediaWrapper > * {
    display: block;
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.socialMediaIcon:hover {
    filter: brightness(1.4);
    cursor: pointer;
}

/*
=============================================================================
------------------------------------------------------------------------BOOK SECTION
=============================================================================
*/

section#books {
    text-align: center;
}

.bookZoomLink, #bookCover {
    border: 2px solid white;
    opacity: 1;
    border-radius: 0 30px 30px 0;
}

.bookZoomLink {
    width: 70%;
    max-width: 500px;
    transition: 0.3s;
    margin-top: 0;
}

.bookZoomLink:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
    border: 10px solid white;
    margin-top: -10px;
}

/*
------------------------------------------------------------------------ Book Zoom
*/

#bookZoomWrapper {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

#bookCoverWrapper {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bookCover {
    max-height: 600px;
}

#bookCoverWrapper + div {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bookInfosWrapper {
    width: 100%;
}

#bookTitle {
    font-family: 'pepita-script', sans-serif;
    font-size: 2.5em;
    color: white;
    margin-bottom: 0;
}

#bookButtonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bookButtonWrapper img {
    flex: initial;
    max-width: 60px;
    margin: 0 10px 0 10px;
}

#bookSummary {
    font-family: 'lilly', sans-serif;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: justify;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

#bookCover, #bookSummary, #bookTitle, #bookButtonWrapper img {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

#closeBookZoom {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#closeBookZoom:hover,
#closeBookZoom:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    #bookCoverWrapper {
        display: none;
    }
}

/*
=============================================================================
------------------------------------------------------------------------ WRITINGS SECTION
=============================================================================
*/

.writing {
    margin-bottom: 80px;
}

.writingSummary {
    margin: 0 0 60px 0;
}

div.writingBar {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

div.writingBarBody {
    flex: auto;
    display: flex;
    max-width: 900px;
    height: 109px;
    background-image: url("../img/bookmarkBody.png");
}

img.writingBarEnd {
    flex: none;
    height: 109px;
}

span.writingTitle {
    flex: auto;
    align-self: center;
    justify-self: flex-end;
    font-size: 3em;
    margin: 0 0 15px 0;
}

.writingButton:hover {
    cursor: pointer;
    filter: brightness(1.4);
}

section#writings img.writingButton {
    flex: initial;
    align-self: center;
    justify-self: flex-end;
    margin: 0 10px 10px 10px;
    max-width: 60px;
}

p.writingSummary {
    display: none;
    position: relative;
    bottom: 16px;
    z-index: -1;
    font-size: 1em;
    margin-left: auto;
    margin-top: auto;
    border-radius: 0 0 30px 30px;
    max-width: 700px;
    padding: 20px;
    background-color: #4a635e;
    box-shadow: 0 15px rgba(0, 0, 0, 0.5);
}

/*
=============================================================================
------------------------------------------------------------------------ AUTHOR SECTION
=============================================================================
*/

section#author aside {
    text-align: right;
}

section#author div:nth-of-type(1) {
    text-align: right;
}

section#author aside img {
    width: 70%;
}

section#author p {
    display: inline-block;
}

.bookReference {
    font-family: 'lilly', sans-serif;
    font-size: 0.7em;
    font-style: italic;
    color: orangered;
}

.bookReference:hover {
    text-decoration: underline;
    color: orange;
    cursor: pointer;
}

/*
=============================================================================
------------------------------------------------------------------------ SUPPORT SECTION
=============================================================================
*/

#support h1 {
    text-align: center;
    font-weight: bold;
    margin: auto;
}

#supportLinks {
    text-align: center;
    margin-bottom: 30px;
}

img.supportLink {
    height: 100px;
    margin: 25px 12px 0 13px;
}

img.supportLink:hover {
    cursor: pointer;
}

#supportTitle, #supportDescription, span.writingTitle, p.writingSummary {
    font-family: 'lilly', sans-serif;
    color: antiquewhite;
}

#supportTitle {
    text-align: center;
    font-size: 2.5em;
    margin: auto;
    border-radius: 30px 30px 0 0;
    width: 40%;
    background-color: #4a635e;
}

#supportDescription {
    width: 80%;
    margin: auto;
    font-size: 1.3em;
    margin-bottom: 40px;
    border-radius: 10px 50px 10px 50px;
    padding: 20px;
    background-color: #374845;
    box-shadow: 0 15px rgba(0, 0, 0, 0.5);
}